:root {
    --black-background-color: rgb(26, 26, 26);
    --title-font: "Playfair Display", serif;
    --text-font: "Inter", sans-serif;
    --gold-color: gold;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: var(--black-background-color);
}

.nav-buttons {
    display: flex;
    gap: 30px;
}

button:hover {
    cursor: pointer;
}

.nav-btns {
    position: relative;
    background-color: transparent;
    border: none;
    color: white;
    font-family: var(--title-font);
    font-size: 20px;
    padding-bottom: 4px;
} 

.nav-btns::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0%;
    height: 2px;
    background-color: var(--gold-color);
    transition: width 0.3s ease;
}

.nav-btns:hover::after {
    width: 100%;
}

.logo-text {
    color: white;
    font-family: var(--title-font);
}

#content {
    position: relative;
    width: 100%;
    height: 100vh;
}

.home-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-text {
    /* This makes the div an absolute overlay on top of the image. */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgb(26, 26, 26, 0.7);

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    box-sizing: border-box;
}

.text-content {
    /* This prevents the text block from becoming too wide on large screens. */
    max-width: 650px;

    /* Justifies the text, making left and right edges flush. */
    text-align: justify;
}

.quote-line {
    font-family: var(--title-font);
    color: white;
    font-size: 50px;
    text-align: center;
    text-decoration: var(--gold-color) underline;
}

.quote-line + h3 {
    font-size: 32px;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.text-content > p {
    font-family: var(--text-font);
    color: white;
    text-align: center;
}

#content.menu-page {
    background: var(--black-background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub-title {
    font-family: var(--title-font);
    background-color: var(--black-background-color);
    margin-top: 0;
    color: white;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 50px;
    justify-items: center;
}

.menu-card {
    position: relative;
    width: 100%;
    width: 500px;
    height: 300px;
    overflow: hidden;
    border-radius: 12px;
}

/* Dark overlay */
.menu-card::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    /* adjust opacity as needed */
    z-index: 1;
    /* sit above image but below text */
}

.menu-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.menu-item-title {
    position: absolute;
    bottom: 10%;
    left: 10%;
    color: var(--gold-color);
    font-family: var(--title-font);
    font-size: 1.5rem;
    z-index: 2;
}

.contact-page > p, address {
    color: white;
    font-family: var(--text-font);
}