:root {
    --black-background-color: rgb(26, 26, 26);
    --title-font: "Playfair Display", serif;
    --text-font: "Inter", sans-serif;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: var(--black-background-color);
}

.logo-text {
    color: white;
    font-family: var(--title-font);
}

#content {
    position: relative;
    width: 100%;
    height: 100vh;
}

.home-bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-text {
    /* This makes the div an absolute overlay on top of the image. */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgb(26, 26, 26, 0.7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20px;
    box-sizing: border-box;
}

.text-content {
    /* This prevents the text block from becoming too wide on large screens. */
    max-width: 650px;

    /* Justifies the text, making left and right edges flush. */
    text-align: justify;
}

.quote-line {
    font-family: var(--title-font);
    color: white;
    font-size: 50px;
    text-align: center;
}

.quote-line + h3 {
    font-size: 32px;
    font-style: italic;
    padding: 0;
    margin: 0;
}

.text-content > p {
    font-family: var(--text-font);
    color: white;
    text-align: center;
}